:root {
    --primary-color: #4bbff7;
    --secondary-color: #070707;
    --accent1-color: #df0e05;
    --accent2-color: #ffffff;
    --heading-font: "Comic Neue", cursive;
    --body-font: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    color: var(--primary-color)
}


body {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    color: var(--secondary-color);
}

/* div {
    max-width: 840px;
} */

* {
    /* margin: 0; */
    padding: 10px;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}


.hero {
    position: relative;
    /* width: 840px; */
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 08px;
}

.hero article {
    position: absolute;
    top: 100px;
    left: 15px;
    background-color: #df0e05;
    color: var(--accent2-color);
}

.hero article img {
    width: 150px;
    float: right;
    clear: none;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 40px;
    height: auto;

}